@include aoa-bg-series($bg__init,$classes_init);
@media all and (orientation: portrait){
    .faq{
        &-s1{
            background-position-x: right!important;
        }
        &-s3{
            background-position-x: center !important;
        }
    }
    .gallery{
        &-s1{
            background-position-x: center!important;
        }
        &-s2{
            background-position-x: right!important;
        }
    }
    .index-s1{
        background-position-x: center!important;
    }
    .info{
        &-s1{
            background-position-x: center!important;
        }
        &-s2{
            background-position-x: right!important;
        }
    }
    .login{
        &-s1{
            background-position-x: center!important;
        }
    }
}

.faq{
    &-s2,&-s4{
        *{
            color: #fff !important;
            text-shadow: $text__shadow;
        }
        background-color: #999 !important;
        background-blend-mode: multiply!important;
    }
}
.info{
    &-s3{
        *{
            color: #fff !important;
            text-shadow: $text__shadow;
        }
        background-color: #999 !important;
        background-blend-mode: multiply!important;
    }
}
.text{
    &-olive{
        color: rgb(190, 190, 4) !important;
    }
    &-shadow{
        text-shadow: $text__shadow;
    }
}
footer{
    background-color: olive!important;
}
h1,h2,h3,h4,h5,h6,.nav-link{
    color: rgb(190, 190, 4) !important;
    font-family: "KaushanScript";
    letter-spacing: 2px;
}
nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .contact,.index{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999 !important;
            background-blend-mode: multiply!important;
        }
    }
    .faq{
        &-s1,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999 !important;
            background-blend-mode: multiply!important;
        }
        &-s1,&-s2{
            background-position-x: right!important;
        }
    }
    .gallery,.info{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #999 !important;
            background-blend-mode: multiply!important;
        }
    }
    .gallery{
        &-s1{
            background-position-x: right!important;
        }
    }
    .info{
        &-s2,&-s3{
            background-position-x: right!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color: #fff !important;
            }
            background-color: #666;
            border: 1px solid #333;
            opacity:0.9;
        }
    }
}
